.brands-section {
  padding: 50px 20px;
  text-align: center;
  background-color: #fff;
}

.brands-section h2 {
  font-family: 'Inter', sans-serif;
  font-size: 2rem;
  color: #242565;
}

.brands-section p {
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #6A6A6A;
  margin-bottom: 30px;
}

.brands-list {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.brand-logo {
  height: 40px;
  margin: 0 10px;
}
