:root {
  --primary-color: #3D37F1;
  --secondary-color: #3A3B74;
  --base-font-family: 'Inter', sans-serif;
}

/* Wrapper for the entire events section */
.events-week-wrapper {
  font-size: 1rem;
  padding: 80px 20px 80px 55px;
  color: #242565;
  position: relative;
}

/* Title styling */
.events-week-title {
  font-family: var(--base-font-family);
  font-size: 30px;
  padding: 45px 10px;
  position: absolute;
  font-weight: 700;
  top: -20px;
  left: 100px;
  z-index: 10;
  color: #242565;
}

/* Adding the line under the title */
.events-week-title::after {
  content: '';
  position: absolute;
  bottom: 30px; /* Adjust as needed */
  left: 0;
  right: 0;
  height: 1px;
  width: 990px;
  background-color: #ddd; /* Line color */
  margin-top: 20px; /* Space between the title and the line */
}


/* Carousel container to align and position buttons */
.events-week-carousel {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Styling for carousel buttons */
.carousel-week-button {
  color: var(--primary-color);
  background-color: transparent;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.carousel-week-button.left {
  left: 0;
}

.carousel-week-button.right {
  right: 0;
}

/* Container for the list of event cards */
.events-week-list {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  justify-content: center;
  scroll-behavior: smooth;
}

/* Individual event card styling */
.event-week-card {
  position: relative;
  width: 300px;
  height: 300px;
  border: 1px solid #ddd;
  border-radius: 20px;
  overflow: hidden;
  margin: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
}

/* Styling for the event card link */
.event-week-card-link {
  text-decoration: none;
  color: inherit;
}

/* Styling for event card images */
.event-week-card .event-week-image {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

/* Container for the event card content */
.event-week-card-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 15px;
  flex-grow: 1;
  overflow: hidden;
}

/* Container for the event card details and date */
.event-week-card-details-wrapper {
  display: flex;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 10px;
}

/* Date section within event card */
.event-week-card-date {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.2rem;
  color: var(--primary-color);
  margin-right: 10px;
  width: 50px;
}

.event-week-card-day {
  font-size: 1.2rem;
  font-weight: bold;
  color: #000;
}

.event-week-card-month {
  margin-top: 5px;
  font-size: 1rem;
  color: #3D37F1;
  text-transform: uppercase;
}

/* Details section within event card */
.event-week-card-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: calc(100% - 60px);
}

.event-week-card-title {
  text-align: left;
  font-family: var(--base-font-family);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.5;
  color: #000;
  margin: 0;
}

.event-week-card-description {
  font-family: var(--base-font-family);
  color: #6A6A6A;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  margin-top: 5px;
  width: 100%;
}

/* Container for social icons */
.social-week-icons-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 10px 0;
}

/* Links for social icons */
.social-week-icons a {
  display: inline-block;
  margin-left: 10px;
}

/* Social icon images */
.social-week-icons img {
  width: 30px;
  height: 30px;
}

/* Container for the icons within event card */
.event-week-card-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85.543px;
  height: 38.51px;
  gap: 8px;
  flex-shrink: 0;
  position: absolute;
  top: 145px;
  right: 5px;
}

/* Styling for carousel indicators */
.carousel-week-indicators {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

/* Individual indicator styling */
.indicator {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.indicator:nth-child(1) {
  background-color: var(--secondary-color);
}

.indicator:nth-child(2) {
  background-color: rgba(58, 59, 116, 0.58);
}

.indicator:nth-child(3) {
  background-color: rgba(58, 59, 116, 0.2);
}

.indicator.active {
  background-color: #333;
}
