/* src/components/SignIn.css */

.sign-in-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f7f7f7;
}

.sign-in-card {
  background-color: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.sign-in-header {
  margin-bottom: 1.5rem;
}

.sign-in-logo-container {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  margin-left: 70px;
}

.sign-in-logo-icon {
  width: 40px; /* Adjust size as needed */
  height: auto;
  margin-right: 0.5rem;
}

.sign-in-logo-text {
  font-size: 1.5rem; /* Adjust font size as needed */
  font-weight: bold;
}

.sign-in-form .sign-in-form-group {
  margin-bottom: 1rem;
  text-align: left;
}

.sign-in-form label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.sign-in-form input[type="email"],
.sign-in-form input[type="password"] {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.sign-in-form-group.sign-in-remember-me {
  display: flex;
  align-items: center;
}

.sign-in-form-group.sign-in-remember-me input {
  margin-right: 0.5rem;
  transform: translateY(2px); /* Adjust this value if needed to align with the text */
}

.sign-in-btn-primary {
  width: 100%;
  padding: 0.75rem;
  border-radius: 10px;
  background: #f5167e;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: bold;
}

.sign-in-btn-secondary {
  width: 100%;
  padding: 0.75rem;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: bold;
}

.sign-in-links {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.sign-in-links a {
  color: #1a73e8;
  text-decoration: none;
  font-size: 0.9rem;
}
